jax==0.4.35
jaxlib==0.4.34
numpy==1.26.4
scipy==1.11.4
flax==0.8.5
optax==0.2.3
chex==0.1.87
distrax==0.1.5
orbax-checkpoint==0.6.4
tensorflow==2.17.1
tensorflow-probability==0.24.0
tf-keras==2.17.0
opencv-python==4.10.0.84
moviepy==1.0.3
nvidia-cuda-nvcc-cu12==12.6.85
